.gallery{
    height: 175vh;
    background: rgb(45, 45, 45);
    position: relative;
    display: flex;
    gap: 2vw;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
    .column{
        position: relative;
        height: 100%;
        width: 25%;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        .imageContainer{
            height: 100%;
            width: 100%;
            position: relative;
            border-radius: 1vw;
            overflow: hidden;
            img{
                object-fit: cover;
            }
        }
        &:nth-of-type(1){
            top: -45%;
        }
        &:nth-of-type(2){
            top: -95%;
        }
        &:nth-of-type(3){
            top: -45%;
        }
        &:nth-of-type(4){
            top: -75%;
        }
    }
}
.spacer{
    height: 100vh;
    background: rgb(45, 45, 45); 
//     background-image:  linear-gradient(to top,
//     rgba(255,255,255,1) 0%,
//     rgba(255,255,255,0) 20%,
//     rgba(255,255,255,0) 80%,
//     rgba(255,255,255,1) 100%
// ),
//     url('/images/splash_bg.png');
//     background-size: cover;
//     background-position: center top;
//     background-repeat: no-repeat;
}
.videoContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.videoBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    background-color: black;
}

.video {
  position: absolute;
  left: 10vw;
  top: 10vh;
  width: 61.5vw;
  height: auto;
  z-index: 1;
}

.heading {
    position: absolute;
    right: 10vh;
    text-align: right;
    font-family: 'Benedict', sans-serif;
    font-weight: 700;
    color: #FC1EB5;
    font-size: 100px;
    z-index: 100;
  }
